command: cat echo.file;    branch:tmp-branch1;         comment: release latest code from master for all versions, except versions listed below
command: cat echo.file;    branch:tmp-branch1;            comment: release latest code from master for all versions, except versions listed below
command: cat echo.file;                                     comment: testing fix for zrs
command: cat echo.file;    tag:v5.7;                      comment: we want to always release outdated version for JRK, util all users will be warned
command: cat echo.file;    branch:tmp-branch2;     comment: testing webcomponents
command: cat echo.file;    branch:tmp-branch2;       comment: testing webcomponents
command: cat echo.file;    branch:tmp-branch2;      comment: testing webcomponents
