version:*;              branch:tmp-branch1;    command: grunt test-print;              comment: release latest code from master for all versions, except versions listed below
version:alpha;          branch:tmp-branch1;    command: grunt test-print:alpha;        comment: release latest code from master for all versions, except versions listed below
version:betta;                                 command: grunt test-print:betta;          comment: testing fix for zrs
version:foo;            tag:v5.7;              command: grunt test-print:foo;          comment: we want to always release outdated version for JRK, util all users will be warned
version:bar;            branch:tmp-branch2;    command: grunt test-print:bar;   comment: testing webcomponents
version:baz;            branch:tmp-branch2;    command: grunt test-print:baz;     comment: testing webcomponents
version:vodka;          branch:tmp-branch2;    command: grunt test-print:vodka;  comment: testing webcomponents
